 /* 
    Author     : Abinandh MJ, Ayushi Yadav, Ashwini Kumar, Vaishnavi, Vinaydeep Ambati, Harshitha Reddy Gujja
    version    : v1.0
*/

/*google font*/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    color: #555;
    background-color: #fff;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 auto;
}

a {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #e33333;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0 !important;
}

button {
    border: 0px;
}

button:focus {
    outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    text-align: center;
}

hr.separator {
    border-top: 1px solid #e33333;
    margin: 10px auto;
    width: 250px;
}

/* Home Carousel */
#home-section {

    .carousel {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .carousel-open:checked+.carousel-item {
        position: static;
        opacity: 100;
    }

    .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }

    .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .carousel-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

    #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

    .carousel-bullet {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .carousel-bullet:hover {
        color: #aaaaaa;
    }

    #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #428bca;
    }

    #title {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }
}

/* Home Carousel End */
/* About Section */
#about-section {
    background: #e5b32d;
    padding: 100px;
}

.about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details hr.separator {
    margin: 25px 0;
}

.details h2 {
    color: #e33333;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.details p,
.about-features-box li {
    color: #fff;
}

i.fa-solid.fa-dice-six {
    rotate: 45deg;
    color: red;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
    margin-right: 15px;
    animation: dice-animation 2s ease 0s infinite alternate-reverse forwards;
}

@keyframes dice-animation {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

.about-features-box ul li {
    list-style: none;
}

.about-features-box li {
    font-weight: bold;
}


.about-column.ludoking-poster img {
    transition: transform .5s ease;
    filter: brightness(0.8);
}

.about-column.ludoking-poster:hover img {
    filter: unset;
}

/* Play Now Intersection */
.play-free-icons {
    padding-top: 3rem;
}

.play-free-icons-images {
    display: flex;
    justify-content: center;
    margin-right: 6rem;
    margin-left: 6rem;
}

.play-free-icons h2 {
    color: #e33333;
    font-weight: 500;
    text-align: center;
}

.centerfied-store img,
.play-free-icons-images img {
    height: 4rem;
    width: 15rem;
    padding: 5px 70px 50px;
}

/* About Section End */

/* Brands Section */
#brands-section {
    align-items: center;
    background: #E3E3E3;
    display: flex;
    justify-content: center;
}

.white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* Brands Section End*/

/* Screengrabs */
#screengrabs-section {


    .title {
        text-align: center;
        margin: 40px;
    }

    .title h1,
    .title p {
        margin: 0;
    }

    .slider {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 200px;
        height: 200px;
        margin: auto;
        -webkit-perspective: 600px;
        perspective: 600px;
    }

    .slider * {
        -webkit-transition: all 1s cubic-bezier(0.5, -0.75, 0.2, 1.5);
        transition: all 1s cubic-bezier(0.5, -0.75, 0.2, 1.5);
    }

    .container {
        width: inherit;
        height: inherit;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }

    .slide,
    .slide:after,
    .slide:before {
        display: block;
        width: inherit;
        height: inherit;
        background: url('https://cdn.dribbble.com/users/5031/screenshots/7008431/dribbble.png');
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background-size: cover;
        background-position: center;
    }

    .slide.x {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    .slide.x:after {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/730703/screenshots/6988911/elenidebo-thisiscolossal-theroad-forchicagodesignmuseum.jpg');
        -webkit-transform: translateZ(100px) rotateZ(-90deg);
        transform: translateZ(100px) rotateZ(-90deg);
    }

    .slide.x:before {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/329207/screenshots/6220354/bemocs_geneseo_sailing.jpg');
        -webkit-transform: translateZ(-100px) rotateZ(-90deg);
        transform: translateZ(-100px) rotateZ(-90deg);
    }

    .slide.y {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    .slide.y:after {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/63407/screenshots/5705689/dribbble_moonlight_2x.png');
        -webkit-transform: translateZ(100px) scale(-1);
        transform: translateZ(100px) scale(-1);
    }

    .slide.y:before {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/1355613/screenshots/6441984/landscape_2x.jpg');
        -webkit-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }

    .slide.z {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    .slide.z:after {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/3178178/screenshots/7013817/the_caravan_by_patryk_wojciechowicz_2x.png');
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }

    .slide.z:before {
        content: '';
        background-image: url('https://cdn.dribbble.com/users/1361661/screenshots/6673317/music_girl.png');
        -webkit-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }


    .container {
        -webkit-animation: rotate 15s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
        animation: rotate 15s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
    }

    @-webkit-keyframes rotate {

        0%,
        10% {
            -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
        }

        15%,
        20% {
            -webkit-transform: rotateY(180deg) rotateX(0deg);
            transform: rotateY(180deg) rotateX(0deg);
        }

        25%,
        35% {
            -webkit-transform: rotateY(180deg) rotateX(270deg);
            transform: rotateY(180deg) rotateX(270deg);
        }

        40%,
        50% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
            transform: rotateY(180deg) rotateX(90deg);
        }

        55%,
        65% {
            -webkit-transform: rotateY(-90deg) rotateX(90deg);
            transform: rotateY(-90deg) rotateX(90deg);
        }

        70%,
        80% {
            -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
        }

        90%,
        95% {
            -webkit-transform: rotateY(0deg) rotateX(90deg);
            transform: rotateY(0deg) rotateX(90deg);
        }
    }

    @keyframes rotate {

        0%,
        10% {
            -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
        }

        15%,
        20% {
            -webkit-transform: rotateY(180deg) rotateX(0deg);
            transform: rotateY(180deg) rotateX(0deg);
        }

        25%,
        35% {
            -webkit-transform: rotateY(180deg) rotateX(270deg);
            transform: rotateY(180deg) rotateX(270deg);
        }

        40%,
        50% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
            transform: rotateY(180deg) rotateX(90deg);
        }

        55%,
        65% {
            -webkit-transform: rotateY(-90deg) rotateX(90deg);
            transform: rotateY(-90deg) rotateX(90deg);
        }

        70%,
        80% {
            -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
        }

        90%,
        95% {
            -webkit-transform: rotateY(0deg) rotateX(90deg);
            transform: rotateY(0deg) rotateX(90deg);
        }
    }


    .shadow {
        display: block;
        width: 200px;
        height: 200px;
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 60%;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
        z-index: -1;
        -webkit-filter: blur(20px);
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="20" /></filter></svg>#filter');
        -webkit-filter: blur(20px);
        filter: blur(20px);
        left: 0;
        right: 0;
        margin: auto;
        -webkit-animation: rotateShadow 15s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
        animation: rotateShadow 15s infinite cubic-bezier(1, -0.75, 0.5, 1.2);
    }

    @-webkit-keyframes rotateShadow {

        0%,
        10% {
            -webkit-transform: rotateY(0deg) rotateX(90deg);
        }

        15%,
        20% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
        }

        20.1%,
        20.9% {
            -webkit-transform: rotateY(180deg) rotateX(90deg) translatez(5px);
        }

        25%,
        35% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
        }

        35.1%,
        35.9% {
            -webkit-transform: rotateY(180deg) rotateX(90deg) translatez(-5px);
        }

        40%,
        50% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
        }

        55%,
        65% {
            -webkit-transform: rotateY(0deg) rotateX(90deg);
        }

        70%,
        80% {
            -webkit-transform: rotateY(180deg) rotateX(90deg);
        }

        90%,
        99% {
            -webkit-transform: rotateY(90deg) rotateX(90deg);
        }

        99.1%,
        99.9% {
            -webkit-transform: rotateY(90deg) rotateX(90deg) translatez(-5px);
        }
    }

    /*@keyframes rotateShadow {
          0%, 10% {transform: rotateY(0deg) rotateX(90deg);}	
          15%, 20% {transform: rotateY(180deg) rotateX(90deg); opacity: 1; filter: alpha(opacity=100);}
          20.1%, 20.9% {transform: rotateY(180deg) rotateX(90deg) translatez(10px); opacity: 0.95; filter: alpha(opacity=95);}
          25%, 35% {transform: rotateY(180deg) rotateX(90deg); opacity: 1; filter: alpha(opacity=100);}
          35.1%, 35.9% {transform: rotateY(180deg) rotateX(90deg) translatez(-10px); opacity: 0.95; filter: alpha(opacity=95);}
          40%, 50% {transform: rotateY(180deg) rotateX(90deg);}
          55%, 65% {transform: rotateY(0deg) rotateX(90deg);}
          70%, 80% {transform: rotateY(180deg) rotateX(90deg);}
          90%, 99% {transform: rotateY(0deg) rotateX(90deg);}
          99.1%, 99.9% {transform: rotateY(180deg) rotateX(90deg) translatez(5px); opacity: 0.95; filter: alpha(opacity=95);}
      }*/

    /* 
  Credit */
}

/* Screengrabs End */


/*Exciting-Invetory Section*/

#exciting-inventory-video
{
    display: block; 
    margin: auto;
    width:560px;
    height:315px;
}

h4
{
    font-weight: 400; 
    font-size: 14px;
}

/*Exciting-Invetory Section End*/

/* Review Section */

#review-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;
}

.main {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
}

.page-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-box {
    max-width: 310px;
    /* box-shadow: 2px 2px 30px rgba(0,0,0,0.1); */
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.review {
    color: #e33333;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 300px;
}

i.fas.fa-star {
    font-size: 32px;
}

.review h3,
.client-comment p {
    font-size: 24px;
    color: #4b4b4b;
    font-weight: 300;
}


/* @media(max-width:1060px){
    .page-box{
        width:45;
        padding:10px;
    }
}
@media(max-width:790px){
    .page-box{
        width:100%;
    }  
}
@media(max-width:340px){
    .box-top{
        flex-wrap:wrap;
        margin-bottom: 10px; 
    }
    .review{
        margin-top: 10px;
    }
}
::selection{
    color:#ffffff;
    background-color:blue;
} */


/* Review Section End */

/* Contact Section */

.footer {
    background-color: #333;
    padding: 40px 0;
    line-height: 3em;

}

.footer .section {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    font-size: 25px
}

.section>span:nth-child(1) {
    font-size: 24px;
}

.section span:nth-child(3) {
    font-size: 18px;
    color: #fff;
}

.section span a {
    color: #fff;
}

.section span a:hover {
    color: #e33333;
}

.social {
    text-align: center;
}

.h {
    width: 50%;
    margin: 0 auto;
}

.footer .social {
    text-align: center;
    color: white;
    padding: 2px 0;
}


.footer .social a {
    font-size: 24px;
    background-color: #f3f3f3;
    color: black;
    border: 2px;
    width: 50px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    margin: 20px;
    opacity: 0.75;
    font-weight: 100;
    font-size: 2em;
}

a:hover i {
    color: #e33333;
}

.lastsection p {
    font-size: 15px;
    color: white;
    text-align: center;
}

.lastsection .img {
    text-align: center;
}

/* Contact Section End */





/* Media Queries for Responsive Design */
@media screen and (max-width: 991px) {
    #about-section {
        padding: 20px;
    }

    .about-grid-container {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .about-column.ludoking-poster img {
        width: 100%;
    }

    .play-free-icons-images {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .about-features-box ul {
        padding-left: 0px;
    }

    .centerfied-store img,
    .play-free-icons-images img {
        padding: 5px 50px 50px;
    }

    #exciting-inventory-video
    {
        height:190px;
        width:350px;
    }
}